body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* flex container for board display elements */
#boards {
    border: 1px solid red;
    width: 100%;
    height: auto;

    display: flex;
    flex-flow: column;
    gap: 5vh;

    align-items: center;


    padding-bottom: 30px;
}

/* board dispaly divs */
#playerBoard, #cpuBoard {
    border: 1px solid black;
    width: 40vh;
    height: 40vh;


}


#buttons {
    border: 1px solid black;
    width: 80vw;
    height: 10vh;
    margin-left: 10vw;
    margin-right:10vw;

    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#buttons * {
    padding: 0.6em;
}
#buttons *.active:hover {
    filter:brightness(70%);
}



/* control of individual cells  */
.row {
    display: flex;
    flex-direction: row;

    height: 10%
}

.cell {
    border: 1px solid black;

    height: auto;
    width: 10%;
    
    background-color: lightgray;
}
.cell:hover {
    filter: brightness(70%);
}

.cell.ship {
    background-color: blue;
}
.cell.miss {
    background-color: white;
}
.cell.hit {
    background-color:red;
}






/* Player highlight info displayer */
#highlightMessage, #highlightMessageCPU {
    color: gray;
    font-style: italic;

    height: 20px;
}


/* inactive buttons styling */ 
.inactive {
    filter: brightness(20%);
}